body{
    /*background-image: linear-gradient(to right, hsl(36, 100%, 14%), steelblue);*/
    background-color: lightblue;
}

#container{
    height: 90%;
}

.column {
    max-width: 45em;
}

#logo_uniud {
    size: 40px;
}

#login_image {
    margin-bottom: 4em;
}

label {
    size: 12em;
}
